# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
build/
out/
.next/
.nuxt/
.cache/

# Env files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor / OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# Prettier cache
.prettiercache

# Coverage / testing
coverage/

# Misc
*.local
