/* Reset / normalize */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

button,
input {
  font-family: inherit;
}

/* css-variables */
:root {
  /* font */
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
  --font-size-base: 16px;
  /* color */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

/* Basic tags */
body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: 1.5;
  color: var(--slate);
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1128px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */
/* .header {
} */

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  padding: 24px 0;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  text-transform: uppercase;
  color: var(--navy-blue);
}

.logo span {
  color: var(--iris);
}

.main-nav {
  margin-left: 76px;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* .main-nav-item {
} */

.main-nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  color: var(--navy-blue);
}

.contacts {
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* .contacts-item {
} */

.contacts-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* Main Content */
/* .main {
} */

/* Hero Section */
.hero {
  padding: 188px 0;
  background-color: var(--navy-blue);
}

.hero .container {
  text-align: center;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  text-align: center;
  color: var(--white);
}

.hero-btn {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--iris);
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

/* Features Section */
.features {
  padding: 120px 0;
}

.features-title,
.team-title,
.portfolio-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  color: var(--navy-blue);
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 72px) / 4);
}

.features-item-title,
.team-item-title,
.portfolio-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
}

/* Team Section */
.team {
  padding: 120px 0;
  background: var(--cloud);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item-content {
  padding: 32px 16px;
  text-align: center;
}

/* Portfolio Section */
.portfolio {
  padding: 120px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-item-content {
  padding: 32px 16px;
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
}

/* Footer */
.footer {
  padding: 100px 0;
  background: var(--navy-blue);
  color: var(--cloud);
}

.footer .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer .logo {
  padding: 0;
  color: currentColor;
}

.footer-text {
  max-width: 264px;
}
